@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

/*  RESET */
body {
    margin: 0;
    padding: O;
    box-sizing: border-box;
    position:absolute;
    font-family: roboto, sans-serif;
    font-size: 10px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


/* HOME */
.main-container {
    position: relative;
    background-image: url("./media/visuels/map-paris.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* cursor: url("./media/visuels/map-pin-solid.svg"), pointer; */
}

.start-interaction-btn, #player {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255,255,247, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    font-size: 6rem;
    border: 8px solid rgba(0,0,0,0.9);
    position: relative;
}
/* hover effect on icons */

.overlay {
    border: 8px solid rgba(0,0,0,0.9);
    border-radius: 50%;
    position: absolute;
    height: 110%;
    width: 110%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(255,255,247);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight:900;
}

.start-interaction-btn:hover .overlay {
    opacity: 1;
}

#display-result, .reset-container{
    border: 8px solid rgba(0,0,0,0.9);
    background-color: rgba(255,255,247, 0.8);
    border-radius: 15px;
}

#bottom-btns {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    gap: 30px;
    cursor: pointer;
}

#bottom-btns button {
    cursor: pointer;
    font-size: 1rem;
    height: 80px;
    font-weight: 700;
}

#josiane-btn {
    grid-column: 1/2;
    grid-row: 1/2
}
#jeanpierre-btn{
    grid-column: 2/3;
    grid-row: 1/2
}
#alimatou-btn{
    grid-column: 3/4;
    grid-row: 1/2
}

#samira-btn {
    grid-column: 1/2;
    grid-row: 2/3
}

#karim-btn {
    grid-column: 2/3;
    grid-row: 3/4
}

#bernard-btn{
    grid-column: 1/2;
    grid-row: 3/4
}
#william-btn {
    grid-column: 3/4;
    grid-row: 2/3
}

#player {
    position: absolute;
    transform : translate(-50%,-50%);  
    width: 120px;
    height: 120px;
    border: none;
}

.isPissed {
    background-color: rgba(199, 54, 23, 0.8);
}

.isContacted {
    background-color: rgba(83, 137, 161, 0.8);
}

.isConvinced {
    background-color: rgba(91, 193, 92, 0.8);
}

footer {
    font-size: 2rem;;
}

#footer-main {
    padding: 0;
    background-color: #FFFFF7;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    font-size: 1rem;
    }

#sound{
    display: flex;
    justify-content: space-around;
    width: 200px;
}

#sound-btn {
    position: relative;
    top: 17px;
}

/* POP UP */
.display-popups {
    width: 100vw;
    border: 1px solid black;
    z-index: 1;
    padding: 40px;
    position:absolute;
    font-size: 1.5rem;
    background-color: rgb(255,255,247);
    top: 260px;
    /* left: 200px; */
    border: 8px solid rgb(0,0,0);
    text-align: center;
}

.display-popups button {
    cursor: pointer;
}

#play {
    margin: 0 15px;
    font-size: 1.4rem;
}

#play:hover {
    background-color: rgb(194, 194, 194);
    transition: 0.2s;
}

/* CHARACTER PAGE */
.global-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-image: url("./media/visuels/map-paris-darker.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 100vw;
}

.answer-text-container {
    text-align: center;
    color: #FFFFF7;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.8);
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
}

#random-excuse-container {
    text-align: center;
    color: rgb(255,255,247);
    font-size: 2rem;
    text-shadow: 1px 1px 10px black;
    font-weight: bold;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
} 

#show-option-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin: 20px;
}

#show-option-btns button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight:700;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255,255,247, 0.8);
}

.go-home {
    font-size: 1rem;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: rgba(255,255,247, 0.8);
}